<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <span>
    <h2>
    <a href='https://omeara.lab.medicine.umich.edu/'>
      Teresa O'Meara Lab
    </a>
    </h2>
  </span>    
  
</nav>


<h1>Edit strain</h1>

<%= form_with(model: @strain, local: true) do |form| %>
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>Identifiers</h4>
	</div>
	<div class="panel-body">
	  <div class="form-group">
	    <%= form.label :accession %>
	    <%= form.text_field :accession, :required => true %>
	  </div>

	  <div class="form-group">
	    <%= form.label :common_name %>
	    <%= form.text_field :common_name, :required => true %>
	  </div>

	  <div class="form-group">
	    <%= form.label :keywords %>
	    <%= form.text_field :keywords %>
	  </div>
	  
	</div>
      </div>
      <br>
      <br>
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>Source</h4>
	</div>
	<div class="panel-body">
	  <div class="form-group">
	    <%= form.label :strain_background %>
	    <%= form.text_field :strain_background, :required => true%>
	  </div>

	  <br>
	  
	  <div class="form-group">
	    <%= form.label :source %>
	    <%= form.select :source, ['O\'Meara Lab', 'Other Lab'], :required => true %>
	  </div>
	  
	  <!--show if TOMeara Lab -->
	  <div class="form-group" id="strain_method_group">
	    <%= form.label :method %>
	    <%= form.text_field :method %>
	  </div>

	  <div class="form-group" id="strain_Mutant_source_DNA_group">
	    <%= form.label :Mutant_source_DNA %>
	    <%= form.text_field :Mutant_source_DNA %>
	  </div>

	  <div class="form-group" id="strain_upstream_check_primers_group">
	    <%= form.label :upstream_check_primers %>
	    <%= form.text_field :upstream_check_primers %>
	  </div>

	  <div class="form-group" id="strain_downstream_check_primers_group">
	    <%= form.label :downstream_check_primers %>
	    <%= form.text_field :downstream_check_primers %>
	  </div>

	  <!--show if Other Lab -->
	  <div class="form-group" id="strain_reference_group">	  
	    <%= form.label :reference %>
	    <%= form.text_field :reference %>
	  </div>

	  <div class="form-group" id="strain_sequence_validated_group">  
	    <%= form.label :sequence_validated %>
	    <%= form.text_field :sequence_validated %>
	  </div>

	</div>
      </div>
    </div>

    <div class="col-md">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>Characterization</h4>
	</div>
	<div class="panel-body">

	  <div class="form-group">
	    <%= form.label :general_info %><br>
	    <%= form.text_area :general_info, :rows => 5, :required => true %>
	  </div>

	  <div class="form-group">
	    <%= form.label :genotype %>
	    <%= form.text_field :genotype, :required => true %>
	  </div>

	  <div class="form-group">
	    <%= form.label :ploidy %>
	    <%= form.text_field :ploidy, :required => true %>
	  </div>

	  <div class="form-group">
	    <%= form.label :phenotype %>
	    <%= form.text_field :phenotype %>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg">
      <center>
      <h2><%= form.submit %></h2>
      </center>
    </div>
  </div>
</div>


<% end %>

<hr>
<%= link_to 'Back to strain page', strains_path %>
<br>
<%= link_to 'Back to main page', welcome_index_path %>
