<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <span>
    <h2>
    <a href='https://omeara.lab.medicine.umich.edu/'>
      Teresa O'Meara Lab
    </a>
    </h2>
  </span>    
  
</nav>


<h1>New strain</h1>

<%= form_with scope: :strain, url:strains_path, local: true do |form| %>
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>Identifiers</h4>
	</div>
	<div class="panel-body">
	  <%= form.label :accession %>
	  <%= form.text_field :accession, :required => true %> </br>

	  <%= form.label :common_name %>
	  <%= form.text_field :common_name, :required => true %> </br>

	  <%= form.label :keywords %>
	  <%= form.text_field :keywords %> </br>
	</div>
      </div>
      <br>
      <br>
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>Source</h4>
	</div>
	<div class="panel-body">
	  <%= form.label :strain_background %>
	  <%= form.text_field :strain_background, :required => true %> </br>

	  <%= form.label :source %>
	  <%= form.select :source, ['O\'Meara Lab', 'Other Lab'], :required => true %> </br>

	  <!--show if TOMeara Lab -->
	  <br>
	  Fill these in if O'Meara lab was selected:<br>
	  <%= form.label :method %>
	  <%= form.text_field :method %> </br>
	  
	  <%= form.label :Mutant_source_DNA %>
	  <%= form.text_field :Mutant_source_DNA %> </br>

	  <%= form.label :upstream_check_primers %>
	  <%= form.text_field :upstream_check_primers %> </br>

	  <%= form.label :downstream_check_primers %>
	  <%= form.text_field :downstream_check_primers %> </br>

	  <!--show if Other Lab -->
	  <br>
	  Fill these in if Other Lab was selected:<br>
	  <%= form.label :reference %>
	  <%= form.text_field :reference %> </br>

	  <%= form.label :sequence_validated %>
	  <%= form.text_field :sequence_validated %> </br>
	</div>
      </div>
    </div>

    <div class="col-md">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>Genomic characterization</h4>
	</div>
	<div class="panel-body">
	  <%= form.text_area :general_info, :rows => 5, :required => true %> </br>

	  <%= form.label :genotype %>
	  <%= form.text_field :genotype, :required => true %> </br>

	  <%= form.label :ploidy %>
	  <%= form.text_field :ploidy, :required => true %> </br>

	  <%= form.label :phenotype %>
	  <%= form.text_field :phenotype %> </br>
	</div>
      </div>
      <br>
      <br>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm">
      <center>
      <h2><%= form.submit %></h2>
      </center>
    </div>
  </div>
</div>


<% end %>

<hr>
<%= link_to 'Back to strain page', strains_path %>
<br>
<%= link_to 'Back to main page', welcome_index_path %>


