<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <span>
    <h2>
    <a href='https://omeara.lab.medicine.umich.edu/'>
      Teresa O'Meara Lab
    </a>
    </h2>
  </span>    
  
</nav>


<h1>New strain</h1>

<%= form_with scope: :strain, url:strains_path, local: true do |form| %>
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>Identifiers</h4>
	</div>
	<div class="panel-body">
	  <%= form.label :accession %> <%= form.text_field :accession %> </br>
	  <%= form.label :common_name %> <%= form.text_field :common_name %> </br>
	  <%= form.label :keywords %> <%= form.text_field :keywords %> </br>
	</div>
      </div>
      <br>
      <br>
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>Source</h4>
	</div>
	<div class="panel-body">
	  <%= form.label :strain_background %> <%= form.text_field :strain_background %> </br>
	  <%= form.label :source %> <%= form.text_field :source %> </br>
	  <%= form.label :Mutant_source_DNA %> <%= form.text_field :Mutant_source_DNA %> </br>
	  <%= form.label :reference %> <%= form.text_field :reference %> </br>
	</div>
      </div>
    </div>

    <div class="col-md">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>Genomic characterization</h4>
	</div>
	<div class="panel-body">
	  <%= form.label :general_info %> <%= form.text_field :general_info %> </br>
	  <%= form.label :genotype %> <%= form.text_field :genotype %> </br>
	  <%= form.label :phenotype %> <%= form.text_field :phenotype %> </br>
	  <%= form.label :ploidy %> <%= form.text_field :ploidy %> </br>
	</div>
      </div>
      <br>
      <br>
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>Molecular characterization</h4>
	</div>
	<div class="panel-body">
	  <%= form.label :sequence_validated %> <%= form.text_field :sequence_validated %> </br>
	  <%= form.label :method %> <%= form.text_field :method %> </br>
	  <%= form.label :upstream_check_primers %> <%= form.text_field :upstream_check_primers %> </br>
	  <%= form.label :downstream_check_primers %> <%= form.text_field :downstream_check_primers %> </br>
	</div>
      </div>  
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm">
      <center>
      <h2><%= form.submit %></h2>
      </center>
    </div>
  </div>
</div>


<% end %>

<hr>
<%= link_to 'Back to strain page', strains_path %>
<br>
<%= link_to 'Back to main page', welcome_index_path %>


