
<p>
  <strong>Accession:</strong>
  <%= @strain.accession %>
</p>

<p>
  <strong>Common Name:</strong>
  <%= @strain.common_name %>
</p>

<p>
  <strong>Strain Background:</strong>
  <%= @strain.strain_background %>
</p>

<p>
  <strong>General Info:</strong>
  <%= @strain.general_info %>
</p>

<p>
  <strong>Source:</strong>
  <%= @strain.source %>
</p>

<p>
  <strong>keywords:</strong>
  <%= @strain.keywords %>
</p>

<p>
  <strong>Genotype:</strong>
  <%= @strain.genotype %>
</p>

<p>
  <strong>Phenotype:</strong>
  <%= @strain.phenotype %>
</p>

<p>
  <strong>Ploidy:</strong>
  <%= @strain.ploidy %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @strain.reference %>
</p>

<p>
  <strong>Sequence Validated:</strong>
  <%= @strain.sequence_validated %>
</p>

<p>
  <strong>Method:</strong>
  <%= @strain.method %>
</p>

<p>
  <strong>Mutant source DNA:</strong>
  <%= @strain.Mutant_source_DNA %>
</p>

<p>
  <strong>upstream_check_primers:</strong>
  <%= @strain.upstream_check_primers %>
</p>

<p>
  <strong>downstream_check_primers:</strong>
  <%= @strain.downstream_check_primers %>
</p>

<%= link_to 'Back to strain page', strains_path %>
<br>
<%= link_to 'Back to main page', welcome_index_path %>
