<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <span>
    <h2>
    <a href='https://omeara.lab.medicine.umich.edu/'>
      Teresa O'Meara Lab
    </a>
    </h2>
  </span>    
  
</nav>

<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>Identifiers</h4>
	</div>
	<div class="panel-body">
	  <span class="font-weight-bold">Accession:</span> <%= @strain.accession %> </br>
          <span class="font-weight-bold">Common Name:</span> <%= @strain.common_name %> </br>
          <span class="font-weight-bold">keywords:</span> <%= @strain.keywords %> </br>
	</div>
      </div>
      <br>
      <br>
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>Source</h4>
	</div>
	<div class="panel-body">
	  <span class="font-weight-bold">Strain Background:</span> <%= @strain.strain_background %> </br>
	  <span class="font-weight-bold">Source:</span> <%= @strain.source %> </br>
          <span class="font-weight-bold">Mutant source DNA:</span> <%= @strain.Mutant_source_DNA %> </br>
          <span class="font-weight-bold">Reference:</span> <%= @strain.reference %> </br>
	</div>
      </div>
    </div>

    <div class="col-md">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>Genomic characterization</h4>
	</div>
	<div class="panel-body">
	  <span class="font-weight-bold">General Info:</span> <%= @strain.general_info %> </br>
          <span class="font-weight-bold">Genotype:</span> <%= @strain.genotype %> </br>
          <span class="font-weight-bold">Phenotype:</span> <%= @strain.phenotype %> </br>
          <span class="font-weight-bold">Ploidy:</span> <%= @strain.ploidy %> </br>
	</div>
      </div>
      <br>
      <br>
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4>Molecular characterization</h4>
	</div>
	<div class="panel-body">
          <span class="font-weight-bold">Sequence Validated:</span> <%= @strain.sequence_validated %> </br>
          <span class="font-weight-bold">Method:</span> <%= @strain.method %> </br>
          <span class="font-weight-bold">upstream_check_primers:</span> <%= @strain.upstream_check_primers %> </br>
          <span class="font-weight-bold">downstream_check_primers:</span> <%= @strain.downstream_check_primers %> </br>
	</div>
      </div>  
    </div>
  </div>
</div>


<hr>
<%= link_to 'Back to strain page', strains_path %>
<br>
<%= link_to 'Back to main page', welcome_index_path %>
